<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>messages</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="question_text">Who sent the most messages to the thanks channel?</div>
    <table>
        <tr>
          <th>#</th>
          <th>user_id</th>
          <th>sent_count</th>
        </tr>
        {% for message in messages %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ message[0] }}</td>
          <td>{{ message[1] }}</td>
        </tr>
        {% endfor %}
      </table>
      <!-- <div class="">
          <img src="../assest/result1.png"/>
      </div> -->
      {% endblock %}
</body>
</html>