<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="../static/base.css" rel="stylesheet" type="text/css">
    <title>movies</title>
    <style>
        thead tr th{
            background-color: #0075a4;
            color:#fff;
        }
        h1,h2{
            color:#002f5f;
            text-transform: capitalize;
            margin-bottom:30px;
        }
    </style>
</head>
<body>
    <div class="movies-container">
        <h1>My favourite movies</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Movie Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="/title/tt6823368/?ref_=ttls_li_tt">Glass</a></td>
                <td>Security guard David Dunn uses his supernatural abilities to track Kevin Wendell Crumb, a disturbed man who has twenty-four personalities. </td>
            </tr>
            <tr>
                <td><a href="/title/tt6811018/?ref_=ttls_li_tt">The Kid Who Would Be King</a></td>
                <td>A band of kids embark on an epic quest to thwart a medieval menace.</td>
            </tr>
            <tr>
                <td><a href="/title/tt5941692/?ref_=ttls_li_tt">Miss Bala</a></td>
                <td>Gloria finds a power she never knew she had when she is drawn into a dangerous world of cross-border crime. Surviving will require all of her cunning, inventiveness, and strength. Based on the Spanish-language film.</td>
            </tr>
            <tr>
                <td><a href="/title/tt3513498/?ref_=ttls_li_tt">The Lego Movie 2: The Second Part</a></td>
                <td>It's been five years since everything was awesome and the citizens are facing a huge new threat: Lego Duplo invaders from outer space, wrecking everything faster than they can rebuild.</td>
            </tr>
            <tr>
                <td><a href="/title/tt7634968/?ref_=ttls_li_tt">What Men Want</a></td>
                <td>A woman is boxed out by the male sports agents in her profession, but gains an unexpected edge over them when she develops the ability to hear men's thoughts.</td>
            </tr>
            </tbody>
        </table> 
    </div>

</body>
</html>